---
- name: Crea directory di build per Jenkins
  file:
    path: "./artifacts/jenkins_build"
    state: directory

- name: Copia il Dockerfile custom
  copy:
    src: "Dockerfile.jenkins"
    dest: "./artifacts/jenkins_build/Dockerfile"

- name: Build immagine Jenkins Ops
  command: docker build -t my-jenkins-ops:latest ./artifacts/jenkins_build
  changed_when: true

- name: Rimuovi vecchio container Jenkins
  command: docker rm -f jenkins_server
  ignore_errors: true
  changed_when: false

- name: Avvia Jenkins Server (Mac Compatible)
  command: >
    docker run -d 
    --name jenkins_server 
    --restart always
    -p 8080:8080 
    -p 50000:50000
    --add-host=host.docker.internal:host-gateway
    -v /var/run/docker.sock:/var/run/docker.sock
    my-jenkins-ops:latest
